Java/ClientW/src/conf/xml-resources/web-service-references/ServWB/wsdl/localhost_8080/ServicioWI/ServWB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://paqServ/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://paqServ/">

<xs:element name="suma" type="tns:suma"/>

<xs:element name="sumaResponse" type="tns:sumaResponse"/>

<xs:complexType name="suma">
<xs:sequence>
<xs:element name="numero1" type="xs:int"/>
<xs:element name="numero2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>